@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>My Scripture Journal</p>
    <img src="~/css/scriptures.jpg" height="80%" width="80%"/>
</div>
